<% owned ||= false %>
<div class="message">
  <p>
    <span class="message__speaker <%= owned ? '-is-owner' : '' %>">
      <%= message.speaker&.name || 'guest' %>:
    </span>
    <%= message.content %>
  </p>
</div>
